.appointment-booking-form {
    max-width: 100%; /* Allow form to fill available width */
    margin: 0 auto; /* Center the form horizontally */
    display: flex;
  }

  .responsive-iframe {
    width: 100%; /* Set width to 100% for responsiveness */
    height: 100vh; /* Adjust height as needed */
  }